body>.columns>main {
    text-align: justify;
	max-width: 65rem;
}
body>.columns>main, .sidebar {
	padding: 2rem 1.5rem;
}
.header>.buttons { margin-top: -1rem; }
.header>img { max-width: 12em; width: 100%; }
.is-footer>p { margin: 0.5rem 0; }
.is-footer .tag { margin-left: 0.5em; }
.content pre { white-space: pre-wrap; }
.search-query { z-index: 100; position: relative; }
.search-results {
	padding: 1rem .75rem .75rem;
	position: relative; top: -4px;
	margin-top: -.75rem;
	border-radius: 0 0 4px 4px;
	border: 1px solid #dbdbdb; border-top: none;
}

@media screen and (min-width: 769px) {
    html, body, body>.columns {
        min-height: 100vh;
        margin: 0 !important;
    }
    .sidebar {
        max-width: 30rem;
    }
}

@media screen and (max-width: 768px) {
	.sidebar { padding: 1.5rem 1.5rem 0.75rem; }
	.sidebar>hr { background: transparent !important; margin: 0.5rem 0; }
	.sidebar>.buttons.is-hidden-tablet { margin-bottom: 0; }
	.sidebar>#menu:not(:checked) ~ .header ~ * { display: none; }
	.sidebar>.is-footer { text-align: left !important; }
	.header {
		display: flex; align-items: center;
		height: 2.25em;
	}
	.header>* { margin-bottom: 0 !important; }
	.header>img { max-width: none; max-width: 2.25em; max-height: 2.25em; width: 100%; }
	.header>.title { font-size: 1.2em; margin-left: 0.25em; }
	.header>.subtitle, .header>.buttons { display: none; }
	.header>label[for="menu"] { margin-left: auto; }
	.toc { width: 100%; max-width: 100%; margin-top: -1rem; }
}

.toc { padding: 0.75rem; min-width: 12rem; max-width: 100%; display: inline-block; }
.toc>.menu-label { margin-bottom: 0 !important; }
.content .toc ul { margin-top: 0; margin-left: 1.5em; list-style: disc; }
.content .toc>ul { margin-top: 0.5em; font-size: 0.9em; }
.toc + br + h1 { margin-top: 0 !important; }
@media screen and (min-width: 113rem) {
	.toc {
		position: fixed;
		left: 98rem;
		top: 2rem;
		max-width: calc(100vw - 101rem);
		max-height: calc(100vh - 6rem);
		overflow-y: auto;
	}

	.toc + br {
		display: none;
	}
}

.hljs {
	background: transparent; padding: 0;
	overflow-x: hidden;
	white-space: pre-wrap;
}
